Day_1/Day_1/Day_1.csproj
Day_1/Day_1/Day_1.sln
Day_1/obj/Day_1.csproj.nuget.dgspec.json
Day_1/obj/Day_1.csproj.nuget.g.props
Day_1/obj/Day_1.csproj.nuget.g.targets
Day_1/obj/project.assets.json
Day_1/obj/project.nuget.cache
Day_1/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Day_1/obj/Debug/net8.0/Day_1.AssemblyInfo.cs
Day_1/obj/Debug/net8.0/Day_1.AssemblyInfoInputs.cache
Day_1/obj/Debug/net8.0/Day_1.assets.cache
Day_1/obj/Debug/net8.0/Day_1.GeneratedMSBuildEditorConfig.editorconfig
Day_1/obj/Debug/net8.0/Day_1.GlobalUsings.g.cs
